<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.creadle.vaccinesos">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.creadle.vaccinesos.kakaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name="com.creadle.vaccinesos.FixAlarmAcitivity"></activity>
        <activity android:name="com.creadle.vaccinesos.FriendAddActitvity" />
        <activity
            android:name="com.creadle.vaccinesos.AlarmFunctionActivity"
            android:excludeFromRecents="true"
            android:parentActivityName="com.creadle.vaccinesos.MainActivity"
            android:showForAllUsers="true"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <activity android:name="com.creadle.vaccinesos.MakeAlarmActivity" />
        <activity android:name="com.creadle.vaccinesos.MainActivity" />
        <activity android:name="com.creadle.vaccinesos.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao7be28d1255ec8798c7665bc682a40c34" />
            </intent-filter>
        </activity>

        <service
            android:name="com.creadle.vaccinesos.alarmService"
            android:enabled="true" />

        <receiver
            android:name="com.creadle.vaccinesos.alarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3150610540470802~7181089743"/>
    </application>

</manifest>